/*@import '@material-design-icons/font/outlined.css';*/
/*
:root {
--doc-height: 100%;
}
*/

@import url("css.gg/icons/css/chevron-up.css");
@import url("css.gg/icons/css/chevron-down.css");
@import url("css.gg/icons/css/shopping-cart.css");
@import url("css.gg/icons/css/bookmark.css");
/*@import url("css.gg/icons/css/undo.css");*/
/*@import url("css.gg/icons/css/arrow-left.css");*/
/*@import url("css.gg/icons/css/home-alt.css");*/
@import url("css.gg/icons/css/play-list-check.css");
/* @import url("css.gg/icons/css/share.css"); */
@import url("css.gg/icons/css/sync.css");
/* @import url("css.gg/icons/css/user.css"); */
@import url("css.gg/icons/css/qr.css");
/*@import url("css.gg/icons/css/check.css");*/
@import url("css.gg/icons/css/spinner.css");

:root {
    --primary: #00a0c6;
    --secondary: #55c0d9;
    --background: #55c0d9c9;
    --contrast: #be2fff;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh; /* fallback for Js load */
    height: 100dvh;
    /*height: var(--doc-height);*/
    /* important for firefox on ios */
    overflow: hidden;
}

html {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* Disable 'pull to refresh...' */
    /*overscroll-behavior: none;*/
}
body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Inter Variable", sans-serif;
    padding:0;
    margin:0;
    /*background: #f1efed;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
}
#app {
    display:flex;
    flex-direction: column;
    height:100%;
    height: 100vh; /* fallback for Js load */
    height: 100dvh;
    justify-content: flex-end;

    /*
    opacity: 0.8;
    background-image: radial-gradient(#009865 0.65px, #ffffff 0.65px);
    background-size: 13px 13px;
    */

    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Not needed in "stack scenario"
#app[list-active] im-scanner {
    max-height: 50vh;
    max-height: 50dvh;
}
#app[list-active] #home {
    display: none;
}
*/

im-scanner {
    max-width: 100%;
    /*max-height: 100%;*/
    flex-grow: 1;

    /*
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    */

    /*
    max-height:50vh;
    max-height:50dvh;
    height:100%;
    */
    flex: 1 0 50%;

    display: none;
}

im-scanner[active] {
    display: flex;
}

im-list {
    max-width: 100%;
    
    flex-grow: 1;
    /*
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    */
    
    background: #e9f0f7;

    min-height: 0px;
    overflow-y: auto;
    display: none;
    
    /*
    max-height: 50vh;
    max-height: 50dvh;
    height: 100%;
    */
    flex: 1 0 50%;

    justify-content: flex-end;
    flex-direction: column;
}
/*
im-list[expanded] {
    max-height: initial;
    height: initial;
    display: block;
}
*/
im-list[active] {
    display: flex;
}

footer {
    display: flex;
    padding-bottom: max(env(safe-area-inset-bottom, 0), 0.375em);
    /*margin-bottom: env(safe-area-inset-bottom, 0);*/
    flex-direction: column;
    gap: 0.375em;
    background: var(--primary);
}
/*
@supports (-webkit-touch-callout: none) {
    footer {
        -webkit-margin-after: max(env(safe-area-inset-bottom, 0.375em), 0.375em);
    }
}
*/
header {
    display: flex;
    justify-content: right;
    background: #f0f8ff;
    align-items: stretch;
    position: relative;
}

header #toggle-list {
    flex-grow: 1;
    cursor: pointer;
    margin: 0.5em;
}

header #toggle-list .gg-chevron-down {
    display: none;
}

header #toggle-list[active] .gg-chevron-up {
    display: none;
}

header #toggle-list[active] .gg-chevron-down {
    display: inline-block;
}

header #user {
    text-decoration: none;
    border: 2px solid #02855c;
    border-radius: 50em;
    font-weight: bold;
    padding: 0.2em 0.6em;
    margin: 0.5em;
    color: #02855c;
    background: #0d0d22ee;
    float: right;

}

#searchbar #user {
    border-radius: 50em;
    background: #fff5;
    width: 45px;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0.25em;
    border: 2px solid #e7eef6;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header #processing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1;
    display: none;
}

#app[list-active] header #processing[active] {
    display: flex;
}

header a {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.list-menu {
    display: none;
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50em;
    padding: 0.1em 0.6em;
    font-weight: bold;
    white-space: nowrap;
    align-items: center;
    gap: 10px;
    min-width: 20px;
    justify-content: center;
}

.list-menu i {
    display: inline-block;
    vertical-align: bottom;
}

#collect-articles, #collect-articles-private {
    /*
    border-color: var(--primary);
    color: var(--primary);
    */
    border-color: var(--contrast);
    color: var(--contrast);
}

#app[list-active] a[active] {
    display: flex;
}

#button-qr {
    padding: 0;
    width: 53px;
    min-width: 53px;
    height: 100%;
    box-sizing: border-box;

    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-right: 0.2em;
    background: #e7eef6;
    color: var(--primary);
}

#button-qr[active] {
    background: var(--secondary);
    color: white;
}

#button-home[active] {
    display: inline-block;
}

#searchbar {
    overflow: hidden;
    display: flex;
    /*border: 3px solid #009865;*/
    padding-top: 0.5em;
    /*border-radius: 0.75em;*/
    margin: 0 0.5em;
    align-items: center;
}

#searchbar > * {
    padding: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    --ggs: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

#searchbar a {
    text-decoration: none;
    color: white;
}

#search {
    color: #009865;
    font-weight: bold;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    cursor: pointer;
    border: none;
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background: #e7eef6;
    color: var(--primary);

    /*
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
}
#search[active] {
    /*background: white;*/
}
#search:focus {
    outline: none;
}
#search[tracked] {
    text-decoration: underline dashed;
}
#search[matched] {
    text-decoration: underline solid;
}

#searchbar modal {
    padding: 0;
}

modal.max {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    z-index: 11;
    display: flex;
    background: #000d;
    align-items: center;
}

/*animation: anim 60s ease infinite;*/
/*
#search.progress {
    --progress: 0%;
    background-image: linear-gradient(to right, #333 50%, transparent 50%);
    background-size: 200% 100%;
    transition: background 60s;
    background-position: calc(100% - var(--progress)) 0;
}
*/

/*
@keyframes anim { 
    0% { background-position: 0% 0% }
    100% { background-position: 100% 0% } 
}
*/

#track {
    display: none;
    flex-grow: 1;
}

#track[tracking] {
    display: block;
    justify-content: center;
    align-items: center;
}

#home {
    /*flex-grow: 1;*/
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;

    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    display: flex;
}

#notify {
    flex-grow: 1;
    display: none;
}

#notify[alerts], #notify[tickets] {
    display: block;
}

/* CARDS */

#stack {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

/* ENTITIES */

#entities {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;

    box-sizing: border-box;
    background: #e7eef6;
}

#entities[scanning], #app[list-active] #entities {
    display: flex;
}

@media screen and ( max-height: 319px )
{
    #notify {
        display: none;  
    }
}
