/*@import url("css.gg/icons/css/qr.css");*/
@import url("css.gg/icons/css/backspace.css");
@import url("css.gg/icons/css/search.css");
@import url("css.gg/icons/css/tag.css");
@import url("css.gg/icons/css/profile.css");
@import url("css.gg/icons/css/file.css");

[class^="gg-"] {
   display: inline-flex;
   --ggs: 1.1;
}

:host {
    display: none;
    position: relative;
    width: 100%;
    user-select: none;
}
:host([active]) {
    display: inline-block;
}
pad {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 0.25em;
}
rw {
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    gap: 0.25em;
}
a, a:hover, a:focus, a:target, a:visited {
    border-radius: 50em;
    background: #fff5;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 1.5em;
    text-decoration: none;
    flex-grow: 1;
    line-height: 1.5;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1.5em;
    box-sizing: border-box;
}
a:active:not([disabled]) {
    background: #fff2;
}
a[disabled] {
    color: #0003;
}
#nums {
    margin: 0 0.25em;
    font-size: 1.5em;
}
a#esc {
    background: #0000008f;
}
/*
a#del {
    background: none;
    border: 3px solid #0d0d22;
    color: #0d0d22;
}
a#scan {
    background: #0d0d22;
    border: 3px solid #009865;
    color: #009865;
    flex-grow: 1.5;
    width: 2.375em;
}
*/
a#go {
    /*background: #009865;*/
    /*flex-grow: 1.5;*/
    flex-grow: 1;
    /*width: 3.25em;*/
    /*width: 2.375em;*/
    width: 5em;
}
